@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: "burtons";
  src: url(../../public/Burtons.otf);
}

.card {
  position: relative;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.card:hover {
  border-color: black;
  transform: translate(0, -5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
}

.bard {
  position: relative;
  /* border: 0px transparent; */
  transition: all 0.5s ease;
}

.bard:hover {
  border-color: whitesmoke;
  transform: translate(-10px, -5px);
  box-shadow: 0 5px 10px rgba(119, 240, 58, 0.9);
}
